<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{{ product_name }}</title>
    <link href="{{ url_for('static', filename='css/material_icons.css') }}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}" media="screen,projection">
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper container">
                <a href="#" class="brand-logo"><div class="valign-wrapper"><i class="large material-icons" style="size: 5em;">camera_alt</i>{{ product_name }}</div></a>
                <ul class="right">
                    <li><button data-target="modal1" class="btn modal-trigger red">Über</button></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            {% for image in images %}
                <div class="col s12 m6 l4" style="padding: 10px 10px 10px 10px"><img class="materialboxed" width="100%" data-full-img="/img/{{ image }}" data-thumb-img="/preview/{{ image }}" src="/preview/{{ image }}"></div>
            {% endfor %}
        </div>
    </div>
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>{{ product_name }}</h4>
            <p>
                {{ product_name }} von {{ owner }}<br>
                Photobox Software von Matthias Köferlein, veröffentlicht unter der MIT Lizenz:<br>
                <br>
                Copyright (c) 2019 Matthias Köferlein<br>
                </br>
                Hiermit wird unentgeltlich jeder Person, die eine Kopie der Software und der zugehörigen
                Dokumentationen (die "Software") erhält, die Erlaubnis erteilt, sie uneingeschränkt zu nutzen,
                inklusive und ohne Ausnahme mit dem Recht, sie zu verwenden, zu kopieren, zu verändern,
                zusammenzufügen, zu veröffentlichen, zu verbreiten, zu unterlizenzieren und/oder zu verkaufen, und
                Personen, denen diese Software überlassen wird, diese Rechte zu verschaffen, unter den folgenden
                Bedingungen:<br>
                </br>
                Der obige Urheberrechtsvermerk und dieser Erlaubnisvermerk sind in allen Kopien oder Teilkopien der
                Software beizulegen.<br>
                </br>
                DIE SOFTWARE WIRD OHNE JEDE AUSDRÜCKLICHE ODER IMPLIZIERTE GARANTIE BEREITGESTELLT, EINSCHLIEẞLICH DER
                GARANTIE ZUR BENUTZUNG FÜR DEN VORGESEHENEN ODER EINEM BESTIMMTEN ZWECK SOWIE JEGLICHER
                RECHTSVERLETZUNG, JEDOCH NICHT DARAUF BESCHRÄNKT. IN KEINEM FALL SIND DIE AUTOREN ODER COPYRIGHTINHABER
                FÜR JEGLICHEN SCHADEN ODER SONSTIGE ANSPRÜCHE HAFTBAR ZU MACHEN, OB INFOLGE DER ERFÜLLUNG EINES
                VERTRAGES, EINES DELIKTES ODER ANDERS IM ZUSAMMENHANG MIT DER SOFTWARE ODER SONSTIGER VERWENDUNG DER
                SOFTWARE ENTSTANDEN.<br>
                </br>
                Quellcode veröffentlicht unter <a target="_blank" href="https://gitlab.com/koefmatt/photobox/">
                https://gitlab.com/kofematt/photobox/</a>
            </p>
        </div>
        <div class="modal-footer">
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large red modal-close"><i class="large material-icons">close</i> </a>
            </div>
        </div>
    </div>
    <div id="button-download" class="fixed-action-btn" hidden>
        <a id="link-download" target="_blank" class="btn-floating btn-large red" download><i class="large material-icons">save</i></a>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            M.Materialbox.init(document.querySelectorAll('.materialboxed'), {
                onOpenStart: function () {
                    this.el.src = this.el.dataset.fullImg;
                },
                onOpenEnd: function () {
                    document.getElementById('materialbox-overlay').appendChild(document.getElementById('button-download'));
                    document.getElementById('link-download').href = this.el.dataset.fullImg;
                    document.getElementById('button-download').hidden = false;
                },
                onCloseStart: function () {
                    document.getElementById('button-download').hidden = true;
                    document.body.appendChild(document.getElementById('button-download'));
                    this.el.src = this.el.dataset.thumbImg;
                },
            });

            M.Modal.init(document.querySelectorAll('.modal'));

            function download_image(event) {
                event.stopPropagation();
            }
            document.getElementById('button-download').addEventListener('click', download_image);
        });
    </script>
</body>
</html>